h1 {
  text-align: center;
  color: cornflowerblue;
}

img {
  width: 100%;
}

.restaurant-img {
  width: 40%;
}

.error {
  width: 40%;
}

nav {
  background-color: cornflowerblue;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: white;
  font-size: 1.5em;
}

nav a:hover {
  color: pink;
  text-decoration: none;
}

body {
  background-color: lightblue;
  text-align: center;
}

main {
  background-color: white;
}

.editImg {
  width: 80%;
  padding: 20px;
}

.indexImg {
  width: 100%;
}

.sectionHead {
  color: cornflowerblue;
  padding: 5px;
}

.editSection {
  height: 100%;
}
.comments {
  padding: 20px;
}

.reactStar {
  color: rgb(235, 235, 17);
}

.placeCard {
  margin-left: 15%;
}
